body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #383838;
    color: #ffffff;
    position: relative;
    z-index: 0;
    /* determina se o elemento vai ficar acima ou abaixo de outros elementos */
}

body::before {
    content: "";
    position: fixed;
    /* cobre a tela inteira */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/foto_fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    /* só afeta a imagem de fundo */
    z-index: -1;
    /* fica atrás do conteúdo */
}

.header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    margin-right: 95px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.login button {
    border-radius: 30px;
    border: none;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 12px 30px;
    margin-top: -60px;
    margin-left: 475px;
    position: absolute;
}

.login button a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.botao_my button {
    border: none;
    font-weight: bold;
    background-color: #ff0000;
    padding: 12px 30px;
    margin-top: -10px;
    border-radius: 5px;
}

.botao_my button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.lista a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.5s;
    margin: 2px auto 0;
}

.navbar a:hover::after {
    width: 100%;
}


.logo img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px;
}

.logoSecundaria img {
    position: absolute;
    width: 35px;
    left: 1180px;
    top: 30px;
}