body {
    margin: 0; 
    padding: 0;
    background-color: #A21322;
    height: 100vh;
}

.container {
    display: flex;  
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 70px;
    background-color: transparent;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; /* tira os pontos da lista */
    height: 100%;
    gap: 150px;
    padding-left: 250px;
    position: fixed;
    padding-top: 20px;
}


.logo img {
    width: fit-content; /* se adapta ao tamanho da navbar */
    height: 60px;
    padding-right: px;
    margin-top: -10px;
    margin-left: -100px;
    position: fixed;
}

.container2 {
    display: flex;
    justify-content: end;
    gap: 10px;
    list-style: none;
    position: fixed;
    padding-left: 925px;
    padding-top: 20px;
}

.capacete img {
    margin-right: -240px;
    padding-left: 70px;
    width: fit-content;
    height: 25px;
    position: fixed;
}

/* Fim do header */

.homeImagem1 img {
    width: auto;
    height: 843px; 
    display: block;
}

.homeImagem1 {
    display: flex;
    margin-left: 0px;
    margin-top: -70px;
    margin-bottom: 10px;
}

.container .navbar {
    font-family: 'Times New Roman', Times, serif
}

.imagemTexto {
    position: absolute;
    top: 480px;
    left: 30px;
    font-size: 20px;
    color: #930000;
    text-shadow: 1px 1px 1px rgb(96, 0, 0);
}

.imagemTexto2 {
    position: absolute;
    top: 540px;
    left: 70px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(96, 0, 0);
}

.imagemTexto3 {
    position: absolute;
    top: 640px;
    left: 30px;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(96, 0, 0);
}
