body {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(../assets/imgs/garagem_joey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Remover rolagem horizontal */
    overflow: hidden;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 120px;
    font-family: Arial, sans-serif;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #d00000;
    transition: width 0.5s;
    margin: 2px auto 0;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    color: #f4d35e;
}

.logo img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px;
}

.header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    margin-left: 100px;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cadastro img {
    width: fit-content;
    /* se adapta ao tamanho da navbar */
    height: 60px;
    padding-right: px;
    margin-top: 40px;
    margin-left: -100px;
    position: relative;
}

.quadro .formulario {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 280px;
    margin-top: 40px;
}

.quadro img {
    width: 250px;
    margin-left: 350px;
}

.botao {
    margin-left: 140px;
    padding: 12px 30px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 40px rgb(255, 0, 0);
    margin-top: 0px;
    display: flex;
}

.input2 {
    margin-left: -35px;
    width: 100%;
    padding: 12px 30px;
    margin-bottom: 15px;
    border: none;
    /* remove a borda do input */
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.345);
    color: rgb(255, 0, 0);
    font-size: 17px;
    outline: none;
    /* remove a borda padrão */
    backdrop-filter: blur(5px);
    text-align: center;
}

.input2::placeholder {
    color: #ff0000;
}

.campo {
    text-align: left;
}